<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greendata.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="3" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".ListSamples"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:name="com.greendata.demo.GreenDataYouTubeListActivity"
            android:label="YouTube API demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.greendata.demo.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.greendata.demo.GreenDataTwitterListActivity"
            android:label="Twitter API demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.greendata.demo.SAMPLE" />
            </intent-filter>
        </activity>
        <service
            android:name="com.greendata.data.service.DataService"
            android:exported="false" />
    </application>

</manifest>